@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: left;
    line-height: 1.25;
}
h1{
    font-size: 36px;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}
i:hover {
    opacity: 0.7;
}
.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #90bdea;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}
.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}
.link__hover-x:hover{
    cursor: not-allowed;
}
li{
    list-style-type: none;
}
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.container{
    padding: 50px 0;
}
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 64px;
}
.text--blue{
    color: #90bdea !important;
}
.text--center {
    text-align: center;
}
.section__title {
    letter-spacing: 1px;
    color: #90bdea;
    font-size: 48px;
}
.section__subtitle {
    font-size: 36px;
    color: #242424;
    font-weight: 900;
    margin: 24px 0;
}
.section__description {
    margin: 24px 0px;
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
}
.section__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
    margin-top: 6px;
}
/*
Navigation Bar
*/
nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.logo__wrapper{
    align-items: center;
}
.personal__logo{
    font-size: 24px;
    color: #90bdea;
    margin: 0 24px;
    font-weight: bold;
}
.nav__link--list{
    display: flex;
}
.nav__link--anchor{
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}
.nav__link--anchor-primary{
    background-color: #90bdea;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav__link--anchor-primary:hover{
    background-color: #5d3eff;
}
.nav__link--language-primary{
    background-color: #90bdea;
    padding: 8px 20px;
    color: white;
    transition: all 300ms ease;
    margin-left: 6px;
}
.nav__link--language-primary:hover{
    background-color: #5d3eff;
}
/* 
Dropdown Button 
*/
  .dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
/*
Landing
*/
.landing__wrapper{
    display: flex;
    width: 100%;
}
.landing__img{
    height: 300px;
    width: 100%;
    margin-top: 64px;
    
}
.landing__left{
    width: 50%;
    margin-right: 36px;
}
.landing__right{
    width: 50%; 
}
/*
Housing
*/
.housing__img{  
    height: 250px;
    display: block;
    margin: 24px auto;
    width: 90%;
}
.steps__wrapper {
    display: flex;
    width: 100%;
}
.steps__left {
    width: 50%;
    display: flex;
    align-items: center;
}
.steps__img {
    width: 100%;
    height: 200px;
    margin-right: 24px;
}
.steps__right {
    width: 50%;
    margin-left: 36px;
    padding:32px 0;
}
.step{
    display: flex;
    margin-top: 32px;
}
.step__number {
    color: #cbd5e0;
    font-size: 64px;
    font-weight: 600;
}
.step__td {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.step__title {
    color: #243E63;
    font-size: 20px;
}
.step__description {
    color: #718096;
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    max-width: 300px;
    line-height: 2;
}
/*
Footer
*/
footer {
    background-color: #242424;
}
.footer__row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer__logo--img{
    width: 70px;
    height: 70px;
}
.footer__social--link,
.footer__copyright,
.footer__logo--popper {
    color: #fff;
}
.footer__social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}
.footer__logo--popper{
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}
.footer__anchor {
    margin-bottom: 20px;
    position: relative;
}
.footer__anchor:hover .footer__logo--popper {
    transform: translateX(50px);
    opacity: 1;
}
@media (max-width: 768px) {
    nav {
        height: 68px;
    }
    h1 {
        font-size: 28px;
    }
    .about-me__info--para{
        font-size: 18px;
    }
    .language {
        width: calc(100% / 3);
    }
    .project__description--para {
        font-size: 14px;
    }
    .project__description {
        left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }
    .project__description--para {
        display: none;
    }
    .project__description--links {
        display: flex;
        justify-content: center;
    }
    .project__description--sub-title {
        text-align: center;
    }
    .project__description {
        padding: 0;
        left: 0%;
        width: 100%;
    }
    .project__description--title {
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }
}